
AP_STAT/e1/5.jpg
AP_STAT/e1/Exercise1.pdf
AP_STAT/e1/Exercise1.Rmd
AP_STAT/e1/others.jpg
AP_STAT/e10/e10_1.mp4
AP_STAT/e10/e10_2.mp4
AP_STAT/e11/e11.mp4
AP_STAT/e12/ee12.mp4
AP_STAT/e13/converter3.bat
AP_STAT/e13/e13-1.mp4
AP_STAT/e13/e13-2.mp4
AP_STAT/e13/e13-3.mp4
AP_STAT/e13/e13-4.mp4
AP_STAT/e2/ex2.Rmd
AP_STAT/e2/Exercise2.pdf
AP_STAT/e3/Exercise3.pdf
AP_STAT/e4/1.mp4
AP_STAT/e4/156783915_918868465540376_2965204802246850631_n.jpg
AP_STAT/e4/2.mp4
AP_STAT/e4/3.mp4
AP_STAT/e4/_Exercise4.pdf
AP_STAT/e4/converter3.bat
AP_STAT/e4/Exercise4.aux
AP_STAT/e4/Exercise4.out
AP_STAT/e4/Exercise4.pdf
AP_STAT/e4/Exercise4.Rmd
AP_STAT/e4/IMG_20210303_122801.jpg
AP_STAT/e4/IMG_20210303_122846.jpg
AP_STAT/e4/IMG_20210303_122910.jpg
AP_STAT/e4/IMG_20210303_122929.jpg
AP_STAT/e4/IMG_20210303_122951.jpg
AP_STAT/e4/IMG_20210303_123026.jpg
AP_STAT/e4/IMG_20210303_123041.jpg
AP_STAT/e4/IMG_20210303_123057.jpg
AP_STAT/e4/simulation.pdf
AP_STAT/e4/simulation.Rmd
AP_STAT/e5/1.jpg
AP_STAT/e5/2.jpg
AP_STAT/e5/e5.mp4
AP_STAT/e5/Exercise5.pdf
AP_STAT/e5/Exercise5.Rmd
AP_STAT/e6/_Exercise6.pdf
AP_STAT/e6/converter3.bat
AP_STAT/e6/ex6-2.mp4
AP_STAT/e6/ex6.mp4
AP_STAT/e6/Exercise6.pdf
AP_STAT/e6/Exercise6.Rmd
AP_STAT/e6/mypnts.Rdata
AP_STAT/e7/.RData
AP_STAT/e7/.Rhistory
AP_STAT/e7/converter3.bat
AP_STAT/e7/ex7.mp4
AP_STAT/e7/Exercise7.pdf
AP_STAT/e7/Exercise7.Rmd
AP_STAT/e8/e8_0.mp4
AP_STAT/e8/e8_1.mp4
AP_STAT/e8/e8_2.mp4
AP_STAT/e9/e9_1.mp4
AP_STAT/e9/e9_2.mp4
AP_STAT/l11/2021-04-21 09.49.48 Applied Statistics - Lecture 11 61550458932/zoom_0.mp4
AP_STAT/l7/lecture7.pdf
AP_STAT/MockExam/converter3.bat
AP_STAT/MockExam/mock_exam.mp4
AP_STAT/MockExam/MockExam.pdf
AP_STAT/MockExam/sdsd/with_scale.bat
AP_STAT/MockExam/with_scale.bat
LARGE SCALE/gegy.pub
LARGE SCALE/ssh-keygen
LARGE SCALE/sshkey
